{{ cookiecutter.project_env_prefix }}_POSTGRES_USER=
{{ cookiecutter.project_env_prefix }}_POSTGRES_PASSWORD=
{{ cookiecutter.project_env_prefix }}_POSTGRES_HOST=
{{ cookiecutter.project_env_prefix }}_POSTGRES_PORT=
{{ cookiecutter.project_env_prefix }}_POSTGRES_DB=
{{ cookiecutter.project_env_prefix }}_POSTGRES_TEST_DB=
{{ cookiecutter.project_env_prefix }}_ENVIRONMENT=
{{ cookiecutter.project_env_prefix }}_AUTH0_DOMAIN=
{{ cookiecutter.project_env_prefix }}_AUTH0_AUDIENCE=
{{ cookiecutter.project_env_prefix }}_AUTH0_ORG_ID=
{{ cookiecutter.project_env_prefix }}_DB_ENGINE_MAX_OVERFLOW=
{{ cookiecutter.project_env_prefix }}_DB_ENGINE_POOL_SIZE=